.vscode
vendor
logs
*.log*
*.lock
/node_modules
/public_html/hot
/public_html/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/.ssh
/.bash_history
.bash_logout
.bash_profile
.bashrc
/.local
/.cache
/.config
/.vscode-server
/.gitconfig
/.lesshst
/.wget-hsts
/storage/app/backups
/mail.*
composer.lock
/public_ftp
.contactemail
/.cpanel
/.cphorde
.editorconfig
error_log
/.htpasswds
.lastlogin
/logs
/mail
/perl5
/.spamassassin
.spamassassinboxenable
.spamassassinenable
/ssl
/tmp
access-logs
/www
/etc
/.razor
/.dotnet